/* CSS for the loading overlay */

header {
    background-color: #FDF0CA;
    padding: 15px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}
body{
    background-color: #f4f0f0; /* Replace with your desired background color */
    margin: 0; /* Remove default body margin */
    padding-top: 220px; 
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.logo-container img {
    height: auto; /* Adjust the height as needed */
    width: 350px;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  #loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 24px;
  }
  #input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
  }
  
  /* CSS for the map section */
  #map-section {
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 220px);
    width: 100%;
    margin-top: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
  }
  
  .button-container button {
    margin: 0 8px;
    padding: 12px 24px;
    width: 160px;
    height: auto;
    margin-bottom: 10px;
    background-color: #FFD700;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  
  #map-section #map {
    width: 100%;
    height: calc(100% - 100px); /* Adjust the height to leave space for the buttons */
  }
  
  
  /* CSS for the search container */
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 16px;
  }
  
  .search-container input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .input-select {
    width: 220px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 4px;
  }
  
  .search-container button {
    padding: 12px 14px;
    background-color: #0df543;
    margin-top: 20px;
    width: 160px;
    height: auto;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    
    
  }
  .search-container button:hover {
    opacity:100%;
    background-color: #26a343;
    color: #FFF;
  }

  #back-button {
    display: none;
  }
  
  
